.Profile_main {
    margin-top: 20px;



}

.profile_pain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dady-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;

}

.icon-profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    flex: 1;


}

.container-pro {
    max-width: 600px;
    display: flex;
    gap: 20px
}

.inputner {
    padding: 8px 16px;
    width: 100%;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-emailner {
    display: flex;
    align-items: center;

    max-width: 600px;

    margin: 0 auto;

    gap: 10px;
    padding: 0 20px;

}

.form_email-container {



    display: flex;
    flex-direction: column;
    flex: 1;



}

.email-intext {
    padding: 8px 16px;
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;

    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

.form-number_phone {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    gap: 20px;
    padding: 0 20px;

}

.form_phone-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
}

.phone-intext {
    padding: 8px 16px;
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;

    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

.select-custom {
    padding: 8px 16px;
    width: 100%;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.submit-profile {
    display: flex;
    width: 600px;
    margin: 0 auto;

}

.submit_save {
    width: 100%;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #0EA5E9;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;

}

.submit_save:hover {
    opacity: 0.8;

}

.main-grid {
    margin: 100px auto;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: 80%;
}

.user_sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 650px;
    gap: 50px;
}

.avatar_container {
    width: 100px;
    height: 100px;
    display: block;
    /* margin: 0 auto; */
}

.avartar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_information {
    width: 65%;
    height: 650px;
    /* border: 1px solid black; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.container-infor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-button {
    height: 45px;
    width: 80px;
    border-radius: 8px;
    border: 1px solid #5533ff;
    color: #5533ff;
    cursor: pointer;

}

.user-button:hover {
    background-color: #5533ff;
    color: white;
}

.infor_patient {
    display: flex;
    flex-direction: column;
}

.image_container {
    display: block;
    width: 60px;
    height: 60px;
    margin: 10px auto;

}

.nice_avartar {

    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.submit_form {
    display: flex;

    gap: 20px;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;

}

.name-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid black */
}

.submit_firstname,
.submit_lastname {
    width: 45%;
}

.submit_name {
    margin: 5px 0;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    border: 0.5px solid black;

    outline: none;
}



.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.submit_email {
    width: 100%;
}

.email_address {
    width: 100%;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 0.5px solid black;
    margin-top: 5px;
}

.button-container {
    display: flex;
    gap: 30px;

}

.button-container .btn {
    /* padding: 8px 16px; */
    width: 120px;
}

.reset {
    background-color: #fff;
    border: 0.5px solid #FFC419;
    color: #FFC419;
}

.reset:hover {
    background-color: #FFC419;
    color: white;
}