.specialty-item {
    /* width: 100%; */
    flex: 0 0 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding-bottom: 20px;
    /* transition: all 0.3s; */
    margin: 40px auto;
    text-decoration: none;

}

.image-box {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;

}

.specialty-link {
    text-decoration: none;
    text-align: center;
}

.medical-image {
    width: 100%;
    /* max-height: 80%; */
    object-fit: cover;
    border-radius: 16px;
    /* height: auto; */


}

.specialty-item h3 {
    margin-top: 15px;
    font-size: 18px;
    color: #1a1a1a;
    font-weight: 600;

}