.main-detail {
    margin-top: 5px;
}

.breadcrumb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
}


.breadcrumb-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
}


@media (min-width: 768px) {

   
    .breadcrumb-container {
        margin-left: auto;
        margin-right: auto;
        width: 448px;
       
    }
}

@media (min-width: 1024px) {

  
    .breadcrumb-container {
        width: 512px;
       
    }
}

@media (min-width: 1280px) {

  
    .breadcrumb-container {
        width: 1184px;
    }
}


.breadcrumb-home {
    text-decoration: none;
    margin-right: 4px;
    min-width: 29px;
    display: flex;
    align-items: center;
}

.breadcrumb-path {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
}

.separator {
    margin-right: 4px;
    color: #45c3d2;
}

.current-page {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
}

.doctor-featured-wrapper {
    margin-top: 8px;
    margin-left: 180px;
}

.doctor-featured-heading {
    font-size: 18px;

    font-weight: 700;

    color: #222222;
    margin: 0;
    line-height: 1.5;
}

.doctor-list-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.detail-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s;
}

.doctor-card:hover {
    background-color: #f9f9f9;

}

.doctor-avatar {
    position: relative;
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;

}

.doctor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doctor-info {
    flex: 1;
    padding-left: 10px;

}

doctor-name {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin: 0 0 3px 0;
    line-height: 1.3;
}

.doctor-specialty {
    font-size: 14px;
    color: #555;
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 640px) {
    .doctor-avatar {
        width: 105px;
        height: 105px;
    }

    .doctor-name {
        font-size: 18px;
    }
}


@media (min-width: 768px) {
    .doctor-list-container {
        width: 448px;
    }

    .doctor-card {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1024px) {
    .doctor-list-container {
        width: 512px;
        margin-top: 20px;
    }
}

@media (min-width: 1280px) {
    .doctor-list-container {
        width: 1184px;
    }
}