.main-signin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-signin {
    width: 350px;
    /* Độ rộng vừa phải cho form đăng nhập */
    background-color: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2rem;
    /* Fix lại margin cho form không dính lên header */
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-signin {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5rem;
    flex-direction: column;
}

.divider-container {
    display: flex;
    align-items: center;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: #d1d5db;
}

.divider-text {

    padding-left: 1rem;
    padding-right: 1rem;
    color: #6b7280;
    font-size: 0.875rem;
}

.form-email {
    margin-top: 0.75rem;
}

.child-email {
    position: relative;
}

.start-login {
    font-weight: 500;
    margin-top: 2.5rem;

}

.text-two {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 0.25rem;

}

.text-prep {
    color: rgb(59, 130, 246);
    margin-left: 5px;

}