.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #dff8f1;


}

.test-logo {
    cursor: pointer;
}

.main-logo {}

.img-logo {
    cursor: pointer;
    height: 80px;
}

@media(max-width: 480px) {
    .img-logo {
        height: 50px;
    }

    .main-nav {
        display: none;
    }
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu-item {
    font-size: 18px;
    /* color: whitesmoke; */
}

.menu-item:hover {
    text-decoration: underline;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 87px;
}

.main-button {
    display: flex;
    gap: 15px;
    border-radius: 8px;

}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #FFC419;
    color: white;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
}